.contenedor-5-columnas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 columnas iguales */
    gap: 0px;
    /* espacio entre columnas */
}

.contenedor-5-columnas>div {
    padding: 0px;
    border: 1px solid #ccc; }

.p {
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
}
.p_SemiTema {
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
}

.p_texto {
    font-size: .9rem;
    color: #000000;
    font-weight: bold;
}