.footer {
    background: #B8E5F4;
    color: #000000;
    padding: 40px 20px;
    margin-top: 60px;
    justify-content: center;
}

.footer-container {
    color: #000000;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* Columna izquierda */
.h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-align: "center";
}

.footer-info p {
    font-size: 1rem;
    opacity: 0.8;
    margin-bottom: 12px;
}

/* Columna derecha */
.footer-benefits h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-benefits ul {
    list-style: none;
    padding: 0;
}

.footer-benefits li {
    font-size: 1rem;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-benefits li {
        justify-content: center;
    } }