.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.spin-logo {
    width: 700px;
    height: 700px;
    animation: spin 5s linear infinite;
}

/* Animación giratoria */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    } }